/*********************      FONT        *********************************/
@font-face {
    font-family: "Function Symbols";
	src:url('symbols.otf');
}
@font-face {
    font-family: Roboto;
	src:url('Roboto-Light.ttf');
}
@font-face {
    font-family: "PT MONO";
	src:url('PTM55F.ttf');
}
#keyboardDiv{
	font-family: Roboto;
}
#keyboardDiv .keyCaps, #keyboardDiv .keyBackspace, #keyboardDiv .keyDelete, #keyboardDiv .keyShift, #keyboardDiv .keyEnter, #keyboardDiv #close{
	font-family: "Function Symbols";
}

/*********************      BASIC        *********************************/
#keyboardDiv{	
  box-sizing: border-box;
	position: fixed !important;
	right: 50px;
	bottom: 50px;
	z-index: 1000000000000;
	-webkit-user-select: none;
}
#keyboardDiv #aftan-keyboard{
	margin: 0;
	width: 100%;
	box-sizing: border-box;
}
#keyboardDiv #keyboardDragger{
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
#keyboardDiv #keyboardDragger > #languageTitle{
  box-sizing: border-box;
	height: 100%;
	display: inline-block;
}
#keyboardDiv #controlsDiv{
	display: inline-block;
	position: absolute;
	right: 0;
	height:  100%;
}
#keyboardDiv #close{
	box-sizing: border-box;
	display: inline-block;
	height:  100%;
	text-align: center;
}
#keyboardDiv .aftan-keyboard-key{
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
#keyboardDiv .aftan-keyboard-key[sidein="left"]{
	text-align: left;
}
#keyboardDiv .aftan-keyboard-key[sidein="right"]{
	text-align: right;
}



/*************      Black      *************/
#keyboardDiv[color="black"]{	
	color: #fcfcfc;
}
#keyboardDiv[color="black"] #aftan-keyboard{
	background-color: #000;
}
#keyboardDiv[color="black"] #keyboardDragger{
  background: #444;
  border: 1px solid #000;
  border-bottom: 0px;
}
#keyboardDiv[color="black"] .aftan-keyboard-key{
  background-color: #444;
  /*transition: font-size 0.4s, box-shadow 0.4s;*/
}
#keyboardDiv[color="black"] .aftan-keyboard-key[clicked = 'true'] {
  box-shadow: inset 1px 1px 2px #323232, inset -1px -1px 2px #323232;
/*  background-color: rgb(94, 94, 94);*/
  color: #fff;
}

/*************      STANDART  BLACK    *************/
#keyboardDiv[color="black"][size="standart"]{
	width: 451px;
}
#keyboardDiv[color="black"][size="standart"] #aftan-keyboard{
	margin: 0;
	padding-top: 1px;
	height: 156px;
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
}
#keyboardDiv[color="black"][size="standart"] #aftan-keyboard{
	padding-top: 1px;
	height: 156px;
	font-size: 15px;
}
#keyboardDiv[color="black"][size="standart"] #keyboardDragger{
  height: 25px;
  position: relative;
  font-size: 14px;
}
#keyboardDiv[color="black"][size="standart"]  #languageTitle{
	letter-spacing: 3px;
  line-height: 27px;
  padding-left: 10px;
	width: 43px;
}
#keyboardDiv[color="black"][size="standart"]  #controlsDiv{
	width: 25px;
}
#keyboardDiv[color="black"][size="standart"]  #close{
	line-height: 25px;
	width: 25px;
}
#keyboardDiv[color="black"][size="standart"] .aftan-keyboard-line{
  margin-top: 1px;
  margin-left: 1px;
}
#keyboardDiv[color="black"][size="standart"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="black"][size="standart"] .aftan-keyboard-key{
  margin-left: 1px;
  width: 30px;
  height: 30px;
  line-height: 27px;
}
#keyboardDiv[color="black"][size="standart"] .aftan-keyboard-key[clicked = 'true'] { font-size: 14px; }
#keyboardDiv[color="black"][size="standart"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="black"][size="standart"] .aftan-keyboard-key[sidein="left"]{	padding-left: 10px }
#keyboardDiv[color="black"][size="standart"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 10px }
#keyboardDiv[color="black"][size="standart"] .keyCaps,
	#keyboardDiv[color="black"][size="standart"].keyBackspace,
	#keyboardDiv[color="black"][size="standart"].keyDelete{	width: 46px }
#keyboardDiv[color="black"][size="standart"] .keyNextLanguage{	width: 77px }
#keyboardDiv[color="black"][size="standart"] .keySpace{	width: 217px }
#keyboardDiv[color="black"][size="standart"] .keyAddit,
	#keyboardDiv[color="black"][size="standart"] .keyAdditLong{	width: 76px }
#keyboardDiv[color="black"][size="standart"] .keyEnter{	width: 61px }
#keyboardDiv[color="black"][size="standart"] .keyShiftEnter{ width: 76px }
#keyboardDiv[color="black"][size="standart"] .keyShift{ width: 69px }
#keyboardDiv[color="black"][size="standart"] .keyAdditLong{ text-decoration: underline }

/*************      WHITE      *************/
#keyboardDiv[color="white"]{	
	color: #666;
  border: 1px solid #fff;
}
#keyboardDiv[color="white"] #aftan-keyboard ,#keyboardDiv[color="white"] #keyboardDragger{
  background: #EBEBEB;
}
#keyboardDiv[color="white"] .aftan-keyboard-key{
  color: #666;
  background-color: #fff;
	border-radius: 1px;
  /*transition: font-size 0.4s, box-shadow 0.4s;*/
}
#keyboardDiv[color="white"] .aftan-keyboard-key[clicked = 'true'] {
  box-shadow: inset 1px 1px 2px #323232, inset -1px -1px 2px #323232;
/*  background-color: rgb(94, 94, 94);*/
  color: #666;
}

/*************      STANDART  WHITE    *************/
#keyboardDiv[color="white"][size="standart"]{
	width: 470px;
}
#keyboardDiv[color="white"][size="standart"] #aftan-keyboard{
	margin: 0;
	padding-top: 2px;
	height: 200px;
	width: 100%;
	box-sizing: border-box;
	font-size: 15px;
}
#keyboardDiv[color="white"][size="standart"] #aftan-keyboard{
	padding-top: 2px;
	height: 200px;
	font-size: 15px;
}
#keyboardDiv[color="white"][size="standart"] #keyboardDragger{
  height: 25px;
  position: relative;
  font-size: 14px;
}
#keyboardDiv[color="white"][size="standart"]  #languageTitle{
	letter-spacing: 3px;
  line-height: 27px;
  padding-left: 10px;
	width: 43px;
}
#keyboardDiv[color="white"][size="standart"]  #controlsDiv{
	width: 25px;
}
#keyboardDiv[color="white"][size="standart"]  #close{
	line-height: 25px;
	width: 25px;
}
#keyboardDiv[color="white"][size="standart"] .aftan-keyboard-line{
  margin-top: 2px;
  margin-left: 2px;
}
#keyboardDiv[color="white"][size="standart"] .aftan-keyboard-line:first-child{  margin-top: 0px; }
#keyboardDiv[color="white"][size="standart"] .aftan-keyboard-key{
  margin-left: 2px;
  width: 30px;
  height: 30px;
  line-height: 27px;
}
#keyboardDiv[color="white"][size="standart"] .aftan-keyboard-key[clicked = 'true'] { font-size: 14px; }
#keyboardDiv[color="white"][size="standart"] .aftan-keyboard-key:first-child{ margin-left: 0 }
#keyboardDiv[color="white"][size="standart"] .aftan-keyboard-key[sidein="left"]{	padding-left: 10px }
#keyboardDiv[color="white"][size="standart"]  .aftan-keyboard-key[sidein="right"]{	padding-right: 10px }
#keyboardDiv[color="white"][size="standart"] .keyCaps,
	#keyboardDiv[color="white"][size="standart"].keyBackspace,
	#keyboardDiv[color="white"][size="standart"].keyDelete{	width: 46px }
#keyboardDiv[color="white"][size="standart"] .keyNextLanguage{	width: 77px }
#keyboardDiv[color="white"][size="standart"] .keySpace{	width: 217px }
#keyboardDiv[color="white"][size="standart"] .keyAddit,
	#keyboardDiv[color="white"][size="standart"] .keyAdditLong{	width: 76px }
#keyboardDiv[color="white"][size="standart"] .keyEnter{	width: 61px }
#keyboardDiv[color="white"][size="standart"] .keyShiftEnter{ width: 76px }
#keyboardDiv[color="white"][size="standart"] .keyShift{ width: 69px }
#keyboardDiv[color="white"][size="standart"] .keyAdditLong{ text-decoration: underline }
